body {
    background-color: #f4f6f8;
    font-family: 'Segoe UI', sans-serif;
}
.card {
    border: none;
}


body {
    background-color: #f0f2f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
    max-width: 480px;
    margin: 100px auto;
    padding: 50px 40px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    margin-bottom: 30px;
}

.btn-primary {
    background-color: #0d6efd;
    border: none;
}

.btn-primary:hover {
    background-color: #0b5ed7;
}

a {
    color: #0d6efd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



body {
      background: linear-gradient(to right,rgb(235, 249, 244),rgb(193, 152, 181));
      height: 100vh;
    }

    .login-card {
      max-width: 450px;
      margin: auto;
      margin-top: 80px;
      background-color: white;
      border-radius: 15px;
      box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
      padding: 40px;
    }

    .btn-primary {
      background-color: #6a11cb;
      border: none;
    }

    .btn-primary:hover {
      background-color: #5011a9;
    }
